body{ background-image:url(https://img.freepik.com/premium-photo/gradient-defocused-abstract-photo-smooth-blue-color-background_49683-5231.jpg);
 background-size: cover;
}
.container{
    height: 100px;
	width: 100px;
}
.box.static{ border: solid;
	position: static; /* Позиціонування за замовчуванням */
	background-color:darkred;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
	height: 100px;
	width: 100px;
}
.box.relative{ border: solid;
	  z-index: 5; /* Порядок накладання елементів */
	top: -20px;
	left: 80px;
	position: relative; /* Позиціонування відносно нормального положення */
	 display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
	background-color:grey;
	height: 100px;
	width: 100px;

}
.box.absolute{ border: solid;
	  z-index: 6; /* Вищий порядок накладання елементів */
	position: absolute; /* Позиціонування відносно найближчого позиціонованого предка */
	top:180px;
	left:10px;
	 display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
	background-color:green;
	height: 100px;
	width: 100px;
}
.box.fixed{ border: solid;
	  z-index: 6; /* Вищий порядок накладання елементів */
	top: 260px;
	left: 90px;
	position: fixed; /* Позиціонування відносно вікна перегляду */
	 display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
	background-color:wheat;
	height: 100px;
	width: 100px;
}
div{
	height: 100px;
}